# directories
.idea/
log/

src/data/languagefiles
src/data/*.yaml
data/articles.pickle*
data/*.pickle
# everything in subdiectiories
data/*
data2/* # python3 data test

*.log
*.pyc
*.html

dataevents.pickle
wikidump.cfg
