mwparserfromhell
sqlalchemy
PyMySQL
pyparsing
networkx == 2.0
python-dateutil == 2.6.1
# snap == 3.0 # unavailable at PIP directory, need to download manually from https://snap.stanford.edu/snappy/
# flexidate == 1.2
nltk
requests
tqdm

# Graph embedding
pandas
sklearn
tensorflow

# neo4j
neo4j-driver
py2neo
neomodel
